@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*
{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }



.title {
position: absolute;

left: 480px;
top: -50px;
}

hr {margin-top: 80px;}

ul {/* 取消ul預設的內縮及樣式 */ 
  list-style: none;
}

ul.menu {
  display: inline-block;
  font-family: 微軟正黑體;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  right: 550px;
  background-color: #E8F5E9 ;
}

ul.menu li {
  position: relative;
  white-space: nowrap;
  background-color: #E8F5E9 ;
}

ul.menu>li {
  float: left;
  background-color: #E8F5E9 ;
}

ul.menu a {
  color: black;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 50px;
  background-color: #E8F5E9 ;
}

ul.menu li:hover>a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: gray;
  color: white;
}

ul.menu ul {
  /*隱藏次選單*/
  display: none;
}

ul.menu li:hover>ul {
  /* 滑鼠滑入展開次選單*/
  display: block;
}

ul.menu ul {
  position: absolute;
  z-index: 99;
  top: 100%;
  min-width: 100%;
}

.car{
   position: absolute;
  width: 30px;
  height: 30px;
  top: 105px;
  left: 1110px;
}
.car:hover{background-color: gray;}

.user{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 105px;
  left: 1040px;
}
.user:hover{background-color: gray;}

.user1{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 98px;
    left: 1180px;
  }
  .user1:hover{background-color: gray;}
  
.side-box{
  position: absolute;
  /*position: fixed;*/
  right:100px;
  top: 95px;
  width:170px;
  height: 45px;
  background-color: #FFFFFF;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
  box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
  box-sizing: border-box;
  z-index: 1;
  border:1px solid rgba(167, 158, 245, 0.1);
}

.search input{
  width: 90px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #1F1F1F;
  font-family: calibri;
  font-size: 1rem;
  padding: 0px 10px;
  
}

.search input::placeholder{
  color: #1D1D1D;
  font-weight:400;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: poppins;
  
}
.search i{
  margin: 0px auto;
}


.ww{
    position: absolute;
    left: 650px;
   top:950px;
  }


  /*contact*/

  * {
    box-sizing: border-box;
  }
  
 
  
  .container {
    position: absolute;
    left: 200px;
    margin: 20px;
    max-width: 600px;
    padding: 16px;
    background-color: white;
    top: 270px;
    font-size: 20px;
    
  }
  
  .textn {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .textn:focus {
    background-color: #ddd;
    outline: none;
  }
  
  textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .btn {
    background-color: rgb(117, 201, 138);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
  }
  
  .btn:hover {
    color: black;
    background-color: #fff;
    border: 3px rgb(158, 157, 157) solid;
    opacity: 1;
  }
  
  .thank{
    position: absolute;
    left: 850px;
    margin: 20px;
    max-width: 600px;
    padding: 16px;
    top: 390px;
    font-size: 30px;
    
  }

  .thank img{
    padding: 20px;
  }
  .link-top1 {
    position: absolute;
    top: 170px;
    left: 72px;;
    width: 90%;
    border-top: solid #ACC0D8 4px;

}