@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }



.title {
position: absolute;
left: 480px;
top: -50px;
}

hr {margin-top: 80px;}

ul {/* 取消ul預設的內縮及樣式 */ 
  list-style: none;
}

ul.menu {
  display: inline-block;
  font-family: 微軟正黑體;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  right: 550px;
  background-color: #E8F5E9 ;
}

ul.menu li {
  position: relative;
  white-space: nowrap;
  background-color: #E8F5E9 ;
}

ul.menu>li {
  float: left;
  background-color: #E8F5E9 ;
}

ul.menu a {
  color: black;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 50px;
  background-color: #E8F5E9 ;
}

ul.menu li:hover>a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: gray;
  color: white;
}

ul.menu ul {
  /*隱藏次選單*/
  display: none;
}

ul.menu li:hover>ul {
  /* 滑鼠滑入展開次選單*/
  display: block;
}

ul.menu ul {
  position: absolute;
  z-index: 99;
  top: 100%;
  min-width: 100%;
}

.car{
   position: absolute;
  width: 30px;
  height: 30px;
  top: 105px;
  left: 1110px;
}
.car:hover{background-color: gray;}

.user{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 105px;
  left: 1040px;
}
.user:hover{background-color: gray;}

.user1{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 100px;
  left: 1180px;
}
.user1:hover{background-color: gray;}

.side-box{
    position: absolute;
    /*position: fixed;*/
    right:90px;
    top: 95px;
    width:170px;
    height: 45px;
    background-color: #FFFFFF;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border:1px solid rgba(167, 158, 245, 0.1);
  }
  
  .search input{
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1F1F1F;
    font-family: calibri;
    font-size: 1rem;
    padding: 0px 10px;
    
  }
  
  .search input::placeholder{
    color: #1D1D1D;
    font-weight:400;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: poppins;
    
  }
  .search i{
    margin: 0px auto;
  }

.link-top1 {
    position: absolute;
    top: 170px;
    left: 72px;;
    width: 90%;
    border-top: solid #ACC0D8 4px;

}
.ww{
    position: absolute;
    left: 600px;
   top: 1500px;
  }
.bag1{
    position: absolute;
    width: 6cm;
    height: 6cm;
    top: 215px;
    left: 160px;
}



.bag2{
    position: absolute;
    width: 6cm;
    height: 6cm;
    top: 530px;
    left: 160px;
}
.bag3{
    position: absolute;
    width: 6cm;
    height: 6cm;
    top: 830px;
    left: 160px;
}
.bag4{
    position: absolute;
    width: 6cm;
    height: 6cm;
    top: 1130px;
    left: 160px;
}
.link-top2{
    position: absolute;
    top: 490px;
    left: 95px;;
    width: 85%;
    border-top: solid #c2d9f5 3px;    
}
.link-top3{
    position: absolute;
    top: 790px;
    left: 95px;;
    width: 85%;
    border-top: solid #c2d9f5 3px;    
}
.link-top4{
    position: absolute;
    top: 1090px;
    left: 95px;;
    width: 85%;
    border-top: solid #c2d9f5 3px;

}
.link-top5{
    position: absolute;
    top: 1390px;
    left: 95px;;
    width: 85%;
    border-top: solid #c2d9f5 3px;

}

.a1{
    color:royalblue;
    font-size:30px;
}
.a1:hover {
    /*設定滑鼠移經的連結*/
    text-decoration:underline;
    color:gray;
    }

.t-1{
  position: absolute;
  width:500px;
  height: 150px;
  background:rgba(40,40,500,0.1);
  border:2px ;
  border-radius:5px;
  top:70px;
  left: 70px;
}
.t1{
    position: absolute;
    width: 380px;
    top:210px;
    left: 430px;
}

.t-2{
    position: absolute;
    width:500px;
    height: 180px;
    background:rgba(40,40,500,0.1);
    border:2px ;
    border-radius:5px;
    top:75px;
    left: 70px;
  }
  
  .t2{
      position: absolute;
      width: 400px;
      top:520px;
      left: 440px;
  }

.t-3{
    position: absolute;
    width:620px;
    height: 180px;
    background:rgba(40,40,500,0.1);
    border:2px ;
    border-radius:5px;
    top:75px;
    left: 70px;
  }
  
.t3{
      position: absolute;
      width: 450px;
      top:820px;
      left: 440px;
  }

.t-4{
    position: absolute;
    width:620px;
    height: 180px;
    background:rgba(40,40,500,0.1);
    border:2px ;
    border-radius:5px;
    top:75px;
    left: 70px;
  }
  
.t4{
      position: absolute;
      width: 410px;
      top:1120px;
      left: 440px;
  }

.button1{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 330px;
    left: 1200px;
    font-weight:bold;
}
.button2{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 640px;
    left: 1200px;
    font-weight:bold;
}
.button3{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 940px;
    left: 1200px;
    font-weight:bold;
}
.button4{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 1240px;
    left: 1200px;
    font-weight:bold;
}
  
.container {
  position: absolute;
  top:210px;
  left: 35%;
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: nowrap;

}

.item {
  margin-top: 45px;
}
.container > .item > img {
  float:left;
  width: 150px; 
}

.container > .item > .itemDetail {
  min-width: 850px;
  max-width: 100%;
  background:rgba(40,40,500,0.1);
  border:2px ;
  border-radius:5px;
}